body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: url( ../images/cikadka-vreditel.jpg);
    background-size: 100%;
}
header{
    background-color: #2e5c7e;
    color: #FFF;
    margin: 0;
    padding: .2em;
    overflow: hidden;
}
input{
    border-radius: 4px;
}


.app-name{
    font-family: "Yesteryear", cursive;
    color: #fff;
    font-weight: 500;
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-indent: .5em;
}

.list{
    width: 200px;
    background-color: greenyellow;
    border-radius: 20px;
    padding: 10px;
    border: 5px solid #ffff00;
    vertical-align: top;
    position: relative;
}

.list h1{
    font-size: 16px;
    font-weight: 700;
}

.list input{
    margin-bottom: 0;
}

.list.new-list{
    background-color: #628c44;
}

.list-inline{
    display: inline-block;
}

.lists-container{
    padding: 20px;
    position: relative;

}

.remove{
    width: 32px;
    height: 25px;
    background: url( ../images/delete-4x.png);
}

.remove-small{
    width: 15px;
    height: 15px;
    background: url( ../images/delete-2x.png);
}

.remove-list{
    position: absolute;
    margin: 6px;
    font-femily: Helvetica, Arial, Sans-Serif;
    top: 0;
    right: 0;
    font-weight:  700;
    color: violet;
}

.remove-card{
    position: absolute;
    top: 3px;
    right:  3px;
}

.no-display{
    display: none;
}

.card{
    padding:  20px;
    background-color:  #FFF;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #b9b9b9;
    position: relative;
}

.edit{
    width: 15px;
    height: 15px;
    background: url( ../img1/pen_alt_stroke.svg);
}

.edit-small{
    width: 15px;
    height:  15px;
    background: url( ../images/pencil-2x.png);
}

.edit-card{
    display: block;
    position: absolute;
    top: 3px;
    right: 20px;
}

.edit:hover{
    background: url( ../imgages/cikadka-vreditel.jpg);
}

.edit_sm:hover{
    background: url( ../img1/pen_alt_fill.svg);
}

.card:hover{
    border-color: #2e5c7e;
}

.hand{
    cursor: pointer;
}

input.search{
    width: 200px;
    margin-top: 4px;
    margin-bottom: 0;
    margin-right: 10px;
}

.select-list{
    margin: 10px 0 0 0;
}

.header-link{
    color: #FFF;
    vertical-align: middle;
}

.header-link:hover {
    color: #e3e3e3;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display:none;
}
